/* responsive */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

.main {
    background-color: #f3d4d4;
    width: 1200px;
    max-width: 100%;
    min-height: 100vh;
    margin: 10px auto 360px;
    padding-bottom: 20px;
}

/* product */
.main__product {
    display: flex;
    padding: 10px;
}

.main__product-img {
    width: 40%;
    padding-top: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.main__product-info {
    width: 60%;
    padding: 10px;
}

.main__product-name {

}

.main__product-price {

}

.main__product-desc {

}

.column-layout {
    background-color: #e4e3e3;
    display: flex;
    margin-top: 32px;
    padding: 0 16px;
}

.column-layout__category {
    width: 20%;
}

.column-layout__container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.column-item {
    width: 25%;
    padding: 0 16px;
}

.feature-layout {
    background-color: #d2d0d0;
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.feature-item {
    margin-top: 16px;
    padding: 12px 16px;
    flex-basis: 30%;
    
}

.feature-item:nth-child(1) {
    background-color: peru;
}

.feature-item:nth-child(2) {
    background-color: rgb(135, 207, 53);
}

.feature-item:nth-child(3) {
    background-color: rgb(32, 59, 167);
}

/* responsive */
/* for tablet and mobile:width < 1024px */
@media only screen and (max-width:63.9375em) {
    .main__product {
        flex-direction: column-reverse;
    }

    .main__product-info {
        width: 100%;
    }

    .main__product-desc {
        display: none;
    }
}

/* for mobile: nhỏ hơn 740px*/
@media only screen and (max-width:46.1875em) {
    /* product */
    .main__product-img {
        width: 95%;
        padding-top: 85%;
    }

    /* cours */
    .column-layout__container {
        width: 100%;
    }

    .column-layout__category {
        display: none;
    }

    .column-item {
        width: 100%;
        text-align: center;
    }

    /* feature */
    .feature-layout {
        flex-direction: column;
    }

}


/* for tablet:>=740 and < 1024 */
@media only screen and (min-width:46.25em) and (max-width:63.9375em) {
    /* product */
    .main__product-img {
        width: 85%;
        padding-top: 85%;
    }

    /* cours */
    .column-item {
        width: 33.333%;
    }
}

/* for mobile and tablet: < 1024px */
@media only screen and (max-width:63.9375em)