/* responsive */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

.main {
    background-color: #fff;
    width: 1200px;
    max-width: 100%;
    min-height: 100vh;
    margin: 10px auto 360px;
    padding-bottom: 20px;
}

/* product */
.main__product {
    display: flex;
    padding: 10px;
}

.main__product-img {
    width: 40%;
    padding-top: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.main__product-info {
    width: 60%;
    padding: 10px;
}

.main__product-name {

}

.main__product-price {

}

.main__product-desc {

}
